@import url(../index.css);

  
  header{
    position: relative;
    display: grid;
    grid-template-columns:auto 1fr;
    gap: 1rem;
    background:var(--lt-white);
    margin-top: 2rem;;
  }

  .hero, .others{
    padding: 0 1.5rem;
  }

  .pic{
    position: sticky;
    width:118px ;
    height: 444px;
  }
  .details{
    display: flex;
  }
  .bio{
    margin-top: 1rem;
  }

.p-pic{
    width: 7.3125rem;
    height: 7.3125rem;
    border-radius: 50%;
    object-fit: cover;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.p-details p{
    color: var(--btn-blue-bg);
}
.bio, .hero,.details{
    margin-top: 1rem;
}

 .stats{
    background: var(--light-gray);
     display: flex;
     justify-content: space-around;
     margin: 2rem 0;
     padding: 1rem;
    border-radius: 10px;
    /* box-shadow: var(--box-shadow); */
 }
 .fa, .fa-solid{
    color: var(--cl-dark-blue);
    margin: 0.5rem 0.5rem;
 }
 .socials{
  padding-bottom: 1.2rem;
 }
 .g-link span{
    color: var(--cl-dark-blue);
 }

 .social-c{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
     justify-content: space-between;
 }
.user-link a:hover{
  text-decoration: underline;
}
/* ==========for tablet============= */
  @media screen and (max-width:769px) {
    .section{
      max-width: 573px;
    }
    .pic{
      position: relative;
      display: block;
      height: 117px;
    }
    .details{
      display: block;
  }
  .header{
    display: block;
  }
  .details{   
     position: absolute;
     top: 0;
     left: 140px;
  }
}
  

/* ==========for mobile======== */
@media screen and (max-width:426px) {
  .section{
    max-width: 323px;
  }
  h2{
    font-size: var(--font-h3);
  }
  p{
    font-size: 13px;
  }
  .social-c{
    display: block;
  }
}




















/* .hero {
  height: 900px;
  margin: 1rem;
  background: var(--lt-white);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 475px) {
  .hero {
    display: block;
    background: rgb(5, 11, 59);
  }
  
}
.p-pic {
  height: 117px;
  width: 117px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  color: var(--btn-blue-bg);
}
.p-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

==========HERO=========

.hero{
  height: 900px;
  margin: 1rem;
  background: var(--lt-white);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}

.p-pic{
  height: 117px;
  width: 117px;
  border-radius: 50%;
  object-fit: cover;
}
.username p{
  color: var(--btn-blue-bg);
}
.p-details{ 
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.info{
  margin: 1.5rem 0;
}
.stats{
  display: flex;
    max-width: 480px;
    height: 85px;
    justify-content: space-around;
    background: var(--light-gray);
    border-radius: 0.5rem;
    
}
@media screen and (max-width: 475px) {
  .hero div {
  display: block;
  }
  .stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
    
} */

