.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
  
}

.btn {
  border: none;
  background: transparent;
  color: var(--dk-white);
}
.btn:hover{
  /* color: var(--cl-gray); */
  color: blue;
}
.light {
  display: none;
}
.icons{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  color: var(--cl-dark-blue);
}
.icons:hover{
  color: var(--cl-gray);
}